@page
@{
    ViewData["Title"] = "Contact";
}
<div class="container mt-5 text-white" style="max-width: 600px;">
    <h2 class="fw-bold mb-4">Liên Hệ / Booking</h2>
    <div class="bg-dark p-4 rounded">
        <form>
            <div class="mb-3">
                <label>Email của bạn</label>
                <input type="email" class="form-control bg-secondary border-0 text-white">
            </div>
            <div class="mb-3">
                <label>Lời nhắn</label>
                <textarea class="form-control bg-secondary border-0 text-white" rows="5"></textarea>
            </div>
            <button class="btn btn-success rounded-pill px-5 fw-bold">Gửi Tin Nhắn</button>
        </form>
    </div>
</div>